<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo</title>

    <!-- шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oswald:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <!-- adding google fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet"> -->


    <!-- стиль -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-information.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu-bar.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/article.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
</head>

<body>

    <%- include('./header.ejs') %>

        <div class="page-with-menu">

            <%- include('./menu-bar.ejs') %>

                <div class="page-content">

                    <section class="main-information-container" >

                        <!-- <div class="main-information-wrapper"> -->
                        <div class="main-information-block article-block">


                            <div class="article-body bg-white"> 
                                <%- include('./module-ejs/author-block-wrapper.ejs', {author: author}) %>

                                <% for(let i = 0; i < contents.length; i++) { %>
                                    <% const content = contents[i]; %>
                                    
                                    <% if (i == 0) { %>
                                        
                                        <%- include('./module-ejs/article-title.ejs', {content: content}) %>
                                        <% 
                                        continue;
                                        };%>


                                    <% if(content.type=='text' ){ %>
                                        <% console.log(content.type + "adl" ) %>

                                            <%- include('./module-ejs/text-container.ejs', {content: content}); %>
                                        <% }%>

                                    <% if(content.type=='image' ){ %>
                                        <% console.log(content.type + "adl" ) %>

                                        <%- include('./module-ejs/main-image-container.ejs', {content:
                                        content}); %>

                                    <% }%>

                                <% } %>
                                
                            </div>

                            <div class="comment-container bg-white">
                                    
                                <form action="" class="comment-form">
                                    <div class="comment-textarea-wrapper">
                                        <textarea class = "comment-textarea comment-text-container" name="" id=""
                                        placeholder="Написать комментарий"></textarea>
                                    </div>

                                    <div class="button-wrapper">
                                        <input type="button" value="Отправить" class="comment-btn btn-text">
                                    </div>
                                </form>
                                
                                <div class="comment-list">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </section>

                    <%- include('./footer.ejs') %>

                </div>
        </div>
        <%- include('./script.ejs') %>
            <script src="/script/paste.js"></script>
            <script src="/script/sendImage.js"></script>
            <script type="module" src="/script/news.js"></script>
</body>

</html>